/**
 * Colors section
 */

$colorBackgroundTitle: #cccccc;
$colorBackgroundSubTitle: #dddddd;
$colorBackgroundContainer: #eeeeee;
$colorBackgroundElement: #ffffff;

$colorBorderDefault: #aaaaaa;
$colorBorderActive: #00ff00;
$colorBorderError: #ff0000;

/**
 * Element spacings, dimensions etc.
 */
$borderWidthDefault: 1px;
$borderWidthActive: 2px;
$borderWidthError: 2px;

$paddingDefault: 10px;
$paddingContainer: 5px;
$paddingActive: 8px;
$paddingTitle: 5px;

$elementBottomMargin: 10px;