@import "vfc_base";

// Hide the textarea which holds the serialized data.
.vfc_serialized_data,
.field-type-vfc-serialized-data .form-type-textarea {
  display: none !important;
}

#vfcAdminArea {
  table {
    margin: 0;
  }

  .vfcMessages,
  .vfcOptions {
    margin-bottom: $elementBottomMargin;
  }

  .vfcOptions,
  .vfcMessages,
  .vfcRoot,
  .vfcContainer {
    box-sizing: border-box;
    background-color: $colorBackgroundContainer;
    padding: $paddingDefault;
  }

  label {
    display: inline-block;
    margin-right: 5px;
  }

  .vfcButton {
    line-height: 14px;
    vertical-align: baseline;
  }

  .showHideContent {
    font-size: 9px;
    position: relative;
    top: -1px;
  }

  .vfcActive {
    border-color: $colorBorderActive;
    border-style: solid;
    border-width: $borderWidthActive;
    padding: $paddingActive;
  }

  .vfcError {
    border-color: $colorBorderError !important;
    border-style: solid !important;
    border-width: $borderWidthError;
  }

  .vfcElement {
    margin-bottom: $elementBottomMargin;
    border: dotted $borderWidthDefault $colorBorderDefault;

    &:last-child {
      margin-bottom: 0;
    }

    .vfcElementHeader {
      background-color: $colorBackgroundTitle;
      padding: $paddingTitle;
    }

    .vfcElementSubHeader {
      background-color: $colorBackgroundSubTitle;
      cursor: default;
    }

    .ui-sortable {
      > .vfcElement {
        > .vfcElementHeader,
        > .vfcElementHeader > label,
        > .vfcElementHeader > label > span {
          cursor: move;
        }

        .vfcElementSubHeader,
        .vfcElementSubHeader > label,
        .vfcElementSubHeader > label > span {
          cursor: default;
        }
      }
    }

    .vfcElementSettings {
      table {
        thead {
          th {
            background-color: $colorBackgroundContainer;
          }
        }

        tbody {
          td.vfcSettingLabel {
            width: 250px;
          }
        }
      }
    }
  }
}