@import "vfc_base";

// Hide the textarea which holds the serialized data.
.vfc_serialized_data,
.field-type-vfc-serialized-data .form-type-textarea {
  display: none !important;
}

.vfcAdminArea {
  padding-bottom: 0 !important;

  table {
    margin: 0;
  }

  .vfcMessages,
  .vfcOptions {
    margin-bottom: $elementBottomMargin;
  }

  label {
    display: inline-block !important;
    text-indent: 5px;
  }

  .vfcButton {
    line-height: 14px;
    vertical-align: baseline;
  }

  .vfcError {
    border-color: $colorBorderError !important;
    border-style: solid !important;
    border-width: $borderWidthError !important;
  }

  .vfcElementRoot {
    > .vfcRoot {

      .vfcElement {
        border: solid $borderWidthDefault $colorBorderDefault;
        background-color: $colorBackgroundElement;
        margin-bottom: $elementBottomMargin;

        &:last-child {
          margin-bottom: 0;
        }

        .vfcElementHeader {
          background-color: $colorBackgroundTitle;
          padding: $paddingTitle;
        }

        .ui-sortable {
          > .vfcElement {
            > .vfcElementHeader,
            > .vfcElementHeader > label,
            > .vfcElementHeader > label > span {
              cursor: move;
            }
          }
        }

        .vfcElementContent {
          padding: $paddingContainer;

          .fielddescription {
            margin-top: $paddingTitle;

            p {
              font-size: 11px;
            }
          }
        }

        > .vfcContainer {
          padding: 0;

          > .vfcElement {
            margin: $paddingDefault;
          }

          > .vfcGroup {
            border: none 0 transparent;
          }
        }

        .vfcGroupEntry {
          .vfcGroupEntryContent {
            > .vfcGroup {
              margin: 0;
            }
          }
        }

        .vfcElementFooter {
          padding: $paddingDefault;
        }
      }

      > .vfcElement {
        border: none 0 transparent !important;

        > .vfcContainer {
          padding: 0;
        }
      }

      .vfcGroupEntry {
        margin-bottom: $elementBottomMargin;
      }

      > .vfcGroup > .vfcGroupEntries > .vfcElement {
        margin: 0 !important;
      }

      > .vfcGroup > .vfcGroupEntries > .vfcGroupEntry {
        margin: $elementBottomMargin !important;

        &:last-child {
          margin-bottom: 0 !important;
        }
      }

      .vfcField {
        margin-bottom: $elementBottomMargin;

        &:last-child {
          margin-bottom: 0;
        }
      }

      > .vfcField {
        border: solid $borderWidthDefault $colorBorderDefault !important;

        &:last-child {
          margin-bottom: $elementBottomMargin !important;
        }
      }
    }
  }
}